---
import BentoGrid from '../components/BentoGrid.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="JHON LAYTON - DESARROLLADOR Y PROGRAMADOR FRONTEND">
	<main>
		<BentoGrid>
	</main>
</Layout>

<style>
	
</style>
