---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="JHON LAYTON - DESARROLLADOR Y PROGRAMADOR FRONTEND">
	<main>
		<Card title='MI INFO'></Card>
	</main>
</Layout>

<style>
	
</style>
