---
import BentoItem from "./BentoItem.astro";


---
<section 
    class={`
        w-full max-w[1400px] grid grid-cols-10 gap-3 
        auto-rows-[25rem] p-6
    `}>

    <BentoItem class="col-span-10 md:col-span-6 bg-orange-50 text-slate-500" title="DESARROLLADOR Y PROGRAMADOR. ACTITUD Y CONOCIMIENTO"></BentoItem>
    <BentoItem class="col-span-10 md:col-span-4 bg-blue-950" title="INFORMACIÓN BÁSICA"></BentoItem>
    <BentoItem class="col-span-10 md:col-span-5 bg-slate-300 text-slate-600" title="PROYECTOS"></BentoItem>
    <BentoItem class="col-span-10 md:col-span-5 bg-slate-300 text-slate-600" title="EXPERIENCIA"></BentoItem>
    <BentoItem class="col-span-10 md:col-span-7 bg-blue-950" title="TECNOLOGÍAS"></BentoItem>
    <BentoItem class="col-span-10 md:col-span-3 bg-orange-50 text-slate-500" title="REDES"></BentoItem>

</section>