---
import BentoItem from "./BentoItem.astro";


---
<section 
    class={`
        w-full max-w[1400px] h-full grid grid-cols-10 gap-3 
        auto-rows-[25rem] p-6
    `}>

    <BentoItem class="md:col-span-6" title="DESARROLLADOR Y PROGRAMADOR. ACTITUD Y CONOCIMIENTO"></BentoItem>
    <BentoItem class="md:col-span-4" title="INFORMACIÓN BÁSICA"></BentoItem>
    <BentoItem class="md:col-span-5" title="PROYECTOS"></BentoItem>
    <BentoItem class="md:col-span-5" title="EXPERIENCIA"></BentoItem>
    <BentoItem class="md:col-span-7" title="TECNOLOGÍAS"></BentoItem>
    <BentoItem class="md:col-span-3" title="REDES"></BentoItem>

</section>