---
interface Props {
    class?: string
    title: string
}

const {title} = Astro.props
---
<article class={`
    ${Astro.props.class} 
    col-span-5 relative rounded-xl
    border border-white/20
    shadow-inner shadow-sky-800
    hover:border-blue-500 hover:border-4
    `}>
    <h2>{title}</h2>

</article>